/* ستايل للـ Home Section */
#home {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

/* background with image with zoomin animation*/
.home {
    width: 100%;
    height: 100%;
    background-image: url('../imgs/shmamsa1.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: zoomIn 10s infinite alternate ease-in-out; /* zoomin  */
}

/*to make a background more dark */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
}

/*  text elly 3al background-img */
.title_home{
    position: relative;
    z-index: 1;
    color: #fff;
    font-family: 'Arial', sans-serif;
    max-width: 80%;
}

/* Animation el img  */
@keyframes zoomIn {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
